<template name="api_record">
	<!-- for showing spinner when our API gets called -->
  {{#if showLoading}}
  	{{> spinner}}
  {{/if}}

	<div class="container-fluid content-scrollable" id="content-scrollable">
		
	  {{#if apiRecords}}
		  <table class="table table-dark">
		    <thead>
		    	<tr>
			      <th>Seq No</th>
			      <th>Hashtag</th>
			      <th>Menu Type</th>
			      <th>Sub Menu Type</th>
			      <th>Profile Image</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{{#each apiRecords}}
			    	<tr>
			    		<td>{{seqno}}</td>
				      <td>{{hashtag}}</td>
				      <td>{{menutype}}</td>
				      <td>{{submenutype}}</td>
				      <td><img src={{profileimgurl}} height="40px" /></td>
			    	</tr>
		      {{/each}}
		    </tbody>
		  </table>
	  	
	  	<!-- infinte_load template exists inside infinite-load package -->
	  	{{> infinte_load page=currentPage}}
	  {{/if}}

	</div>
</template>